@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Josefin_Sans:400,700%27');

// Set your brand colors
$background-colour-light: #EAF4F5;
$background-colour-blue: #98C7CD;
$background-colour-grey: #151515;

$warning-colour: #CD9E98;
$neutral-colour: #E9EE11;
$confirm-colour: #ADCD98;

$link-colour: #937AA4;
$alternate-link-colour: #597478;

$grey-light-colour: #597478;
$grey-dark-colour: #1A2223;


// Update Bulma's global variables
$family-sans-serif: "Josefin San", sans-serif;

// Update some of Bulma's component variables
$body-background-color: $background-colour-grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";